@import "@fontsource/barlow/500.css";
@import "@fontsource/barlow/700.css";

@import "tailwindcss";

:root {
  --font-sans:
    "Barlow", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --border: oklch(0.1101 0.0763 264.05 / 10.2%);
  --background: #454545;
  --foreground: var(--color-white);
  --ring: oklch(62.3% 0.214 259.815);
}

@theme inline {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased h-full;
  }
  html {
    @apply font-sans h-full;
  }
}
